# Admin password for Apple Music setup (set your own password)
VITE_ADMIN_PASSWORD="password"

# Backend API URL for now playing
VITE_API_URL="https://your_domain.com"

VITE_OPENWEATHER_API_KEY="your_openweather_key"
